<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        <li>
          <a href="/logout">Log out</a>
        </li>
        <li>
          <a href="/join-the-club">Join the club</a>
        </li>
      </ul>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (currentUser) { %>
      <p>You are logged in as <%= currentUser.username %></p>
      <p>Membership Status: <%= currentUser.membership_status %></p>
    <% } else { %>
      <h1>Log In</h1>
      <form method="POST" action="/login">
        <label for="username">Username</label>
        <input name="username" placeholder="Username" type="text">
        <label for="password">Password</label>
        <input name="password" placeholder="Password" type="password">
        <button type="submit">Log In</button>
      </form>
    <% } %>
    <ul>
      <% messages.forEach((message) => { %>
        <li>
          <p><%= message.title %></p>
          <p><%= message.text %></p>
          <p><%= message.timestamp %></p>
          <% if (currentUser && currentUser.membership_status) { %>
            <p><%= message.user.username %></p>
          <% } else { %>
            <p>???</p>
          <% } %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
